body{
    background-image: url("img/fondo-1.png");
  }
h1 {
     border: 5px double black;
     border-radius: 10px;
     font-family: 'Just Another Hand', cursive;
  }
h2 {
  font-size: 40px;
}
p, h2, span {
  font-family: 'Comic Neue', cursive;
}
p, span {
  font-size: 30px;
}
  #top {
    background-color: rgba(240, 255, 194, 60%);

  }
  .margen {
    width: 800px;
    margin-left: 20%;
    margin-right: 30%;
    text-align: center;
    border-radius: 10px;
  }

  #root {
    background-color: rgba(191, 255, 240, 60%);
  }
  #top2 {
    background-color: rgba(240, 255, 194, 60%);
  }
  .imagenfondo{
    background-image: url('img/librofiltrado.png');
    background-repeat:no-repeat;
    background-size:cover;
    width: 800px;
    height: 600px;
  }
  #recuadros {
    width: 250px;
    height: 400px;
    margin-top: 100px;
  }
  .margencaja1 {
    margin-right: 50px;
  }