body{
    background-image: url("img/fondo-1.png");
  }
h1 {
     border: 5px double black;
     border-radius: 10px;
     font-family: 'Raleway', sans-serif;
     font-size: 40px;
  }
h2 {
  font-size: 30px;
}
p, h2, span {
  font-family: 'Raleway', sans-serif;
}
p, span {
  font-size: 20px;
}
 #top {
    background-color: rgba(240, 255, 194, 60%);
    margin-bottom: 50px;
  }
.margen {
    width: 800px;
    margin-left: 20%;
    margin-right: 30%;
    text-align: center;
    border-radius: 10px;
  }

#root {
    background-color: rgba(191, 255, 240, 60%);
    padding: 5px;
  }
 #top2 {
    background-color: rgba(240, 255, 194, 60%);
  }
.imagenfondo{
    background-image: url('img/librofiltrado.png');
    background-repeat:no-repeat;
    background-size:cover;
    width: 800px;
    height: 600px;
  }
  #mensaje {
    text-align: start;
    width: 250px;
    height: 400px;
    margin-top: 100px;
    background-color: rgb(255, 228, 192, 80%);
    border-color: rgb(255, 187, 187, 5%);
    border-radius: 10px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
  }
  .margencaja1 {
    margin-right: 50px;
  }
  #mensaje2 {
    text-align: start;
    width: 250px;
    height: 400px;
    margin-top: 100px;
    background-color: rgb(255, 228, 192, 80%);
    border-color: rgb(255, 187, 187, 5%);
    border-radius: 10px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
  }
  .boton{
    align-items: center;
    min-width: 700px;
    display: flex;
   justify-content: center;
   margin-right: 10%;
   margin-top: 30px;
  }
  .boton a{
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(191, 255, 240, 80%);
    color: rgb(8, 8, 8);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 90%);
    font-family: 'Raleway', sans-serif;
  }
  
  .boton1{
    text-decoration: none;
    font-size: 18px;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: rgb(255, 187, 187, 80%);
    color: rgb(8, 8, 8);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
  
  }
  .codigo{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 90%);
  }
  .imagendiario {
    width: 500px;
    margin-left: 50px;
  }