body{
    background-image: url("img/letter.png");
    background-attachment: fixed;
    align-items: center;
    
  }
h1 {
    align-items: center;
    border: 5px double black;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }
h2 {
  font-size: 30px;
}
p, h2, span {
  font-family: 'Raleway', sans-serif;
}
 #top {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(240, 255, 194, 100%);
    box-shadow: 1px 5px 15px  rgba(0, 0, 0, 100%);
    margin-bottom: 10px;
    
    
  }
.margen {
  font-size: 20px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5px;
    align-items: center;
    width: 1000px;
    text-align: center;
    border-radius: 10px;
    /*align-content: stretch;*/
    box-shadow: 1px 5px 15px  rgba(0, 0, 0, 100%);
  }

#root {
    background-color: rgba(191, 255, 240, 95%);
    padding-right: auto;
    padding-left: auto;
    padding-top: 10px;
    padding-bottom: 15px;
  }
 #top2 {
    background-color: rgba(240, 255, 194, 90%);
  }
.imagenfondo{
    background-image: url('img/librofiltrado.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 650px;
    height: 450px;
    margin-left: auto;
   margin-right: auto;
   margin-top: none;
   margin-bottom: 20px;
  }
  #mensaje {
    text-align: start;
    width: 250px;
    height: 380px;
    margin-top: 25px;
    background-color: rgb(255, 228, 192, 80%);
    border-color: rgb(255, 187, 187, 5%);
    border-radius: 10px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
  }
  .margencaja1 {
    margin-right: 50px;
  }
  #mensaje2 {
    text-align: start;
    width: 250px;
    height: 380px;
    margin-top: 25px;
    background-color: rgb(255, 228, 192, 80%);
    border-color: rgb(255, 187, 187, 5%);
    border-radius: 10px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
  }
  .boton{
    display: flex;
    justify-content: space-around;   
  }
  .boton a:hover{
    background-color: rgba(191, 255, 240, 95%);
  }
  .boton a{
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(240, 255, 194, 100%);;
    color: rgb(8, 8, 8);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 90%);
    font-family: 'Raleway', sans-serif;
  }
  
  .boton1{
    text-decoration: none;
    font-size: 18px;
    width: 100px;
    height: 37px;
    text-align: center;
    background-color: rgb(255, 187, 187, 90%);
    color: rgb(8, 8, 8);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  
  }
  .codigo{
    width: 102px;
    height: 34px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 90%);
  }
  .imagendiario {
    width: 500px;
    margin-left: 50px;
    margin-block-end: 60px;
  }
  .boton{
    align-items: center;
   justify-content: center;
   margin-top: 30px;
  }
a{
  text-decoration: none;
}
p{
  padding: 25px;
}
.letrachica {
  font-size: 15px;
}